/* round size */
/* border-radius: 테두리를 얼마나 둥글게 만들지 */
.round {
  border-radius: 8px;
}

.round16 {
  border-radius: 16px;
}

.round100 {
  border-radius: 100px;
}

/* background-color */
.bgWhite {
  border: 1px solid white;
  background-color: white;
}

.bgLight {
  border: 1px solid #e6e6eb;
  background-color: #e6e6eb;
}

.bgDark {
  border: 1px solid #333;
  background-color: #333;
}

.bgOrange {
  border: 1px solid #f6bf5a;
  background-color: #f6bf5a;
}

.bgGreen {
  border: 1px solid #aadd1f;
  background-color: #aadd1f;
}

.bgBlue {
  border: 1px solid #1e88e5;
  background-color: #1e88e5;
}

.bgRed {
  border: 1px solid #ff4800;
  background-color: #ff4800;
}

.bgVoid {
  background-color: transparent;
}

/* font-weight: 글꼴 굵기 */
.bold {
  font-weight: bold;
}

/* font-color: 글꼴 색상  */
.fontLight {
  color: #eee;
}

.fontDark {
  color: #222;
}

.fontRed {
  color: #ff4800;
}

/* border: 테두리 두께, solid라는 값이 있어야 보인다, 테두리 색상 */
.borderLight {
  border: 1px solid #eee;
}

.borderDark {
  border: 1px solid #868594;
}

/* usage: 사용처 */
.searchBtn {
  /* 최소 길이 지정 */
  min-width: 80px;
  height: 45px;
}

.searchBar {
  display: flex;
  gap: 15px;
  width: 100%;
}

.searchBox {
  border: 3px solid #222;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.searchInput {
  width: 100%;
}

.circle {
  width: 45px;
  height: 45px;
}

.stockBar {
  display: flex;
  align-items: center;
}

.stockBar input {
  display: flex;
  width: 30px;
  text-align: center;
  align-items: center;
  color: #eee;
  background-color: #555;
  padding: 0;
  height: 25px;
}

.stockBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  color: #eee;
  background-color: #222;
}

.Btns {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.Btns button {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.helpfulNReport {
  display: flex;
  gap: 10px;
}

/* 블록 안에 있는 글자가 줄바꿈 되지 않도록 함 */
.menu {
  white-space: nowrap;
}
