/* round size */
/* border-radius: 테두리를 얼마나 둥글게 만들지 */
.round {
  border-radius: 8px;
}

.round16 {
  border-radius: 16px;
}

.round100 {
  border-radius: 100px;
}

/* background-color */
.bgLight {
  background-color: #ccc;
}

.bgDark {
  background-color: #333;
}

.bgBlue {
  background-color: #1e88e5;
}

.bgVoid {
  background-color: transparent;
}

/* font-weight: 글꼴 굵기 */
.bold {
  font-weight: bold;
}

/* font-color: 글꼴 색상  */
.fontLight {
  color: #eee;
}

.fontDark {
  color: #222;
}

/* border: 테두리 두께, solid라는 값이 있어야 보인다, 테두리 색상 */
.borderLight {
  border: 1px solid #555;
}

.borderDark {
  border: 1px solid #ccc;
}

/* usage: 사용처 */
.searchBtn {
  /* 최소 길이 지정 */
  min-width: 80px;
  height: 45px;
}

.searchBar {
  display: flex;
  gap: 15px;
  width: 100%;
}

.searchBox {
  border: 3px solid #222;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.searchInput {
  width: 100%;
}

.circle {
  width: 45px;
  height: 45px;
}

/* 블록 안에 있는 글자가 줄바꿈 되지 않도록 함 */
.menu {
  white-space: nowrap;
}
