.barContainer {
  width: 120px;
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  height: 25px;
  margin: 10px 0;
}

.barFill {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  animation: fillBar 0.5s linear forwards;
  transition: width 1s ease-in-out;
  background-color: #cdcd1e;
}

@keyframes fillBar {
  0% {
    fill: 0%;
  }
  100% {
    fill: 100%;
  }
}
