.ratingNReviews {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.ratingHover {
  display: flex;
  position: absolute;
  width: 230px;
  background-color: white;
  padding-left: 10px;
  padding-right: 5px;
  user-select: none;
}

.ratingHide {
  display: none;
}

.ratingList {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ratingClose {
  position: absolute;
  display: block;
  top: 4px;
  right: 5px;
}
