.searchBar {
  display: flex;
  /* flex 레이아웃에서 바로 아래 자식 요소끼리의 간격 */
  gap: 15px;
  /* 부모 요소의 100% */
  width: 100%;
}

.searchBox {
  border: 3px solid #222;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.searchInput {
  width: 100%;
}

.searchBtn {
  /* 최소 길이 지정 */
  min-width: 80px;
  height: 45px;
}

.searchBtn svg {
  width: 16px;
  color: #eee;
}
